<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'form_style.css' %}">
    </head>
  <header>
    <div>
      <h1>Insert a Movie</h1>
    </div>
    <div>
      <form action="javascript:history.go(-1)">
          <button class="backbutton" type="submit"><img src="https://cdn-icons-png.flaticon.com/512/271/271220.png" class="backimg"></button>
      </form>
    </div>
    <div>
      <form action="/brDbproject/">
          <button class="homebutton" type="submit"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/1200px-Home-icon.svg.png"></button>
      </form>
    </div>
  </header>
<body>
<div class="flex-wrapper">
<div class="container">
    <form method="POST" id="movieForm" novalidate>
      <fieldset>
        {% csrf_token %}
        {{ form.as_p }}
      </fieldset>
    </form>
    <p>If you can't find the cast/crew member you want, please fill the following form first and then return:</p>
    <form action="/brDbproject/insert/castcrew">
      <button class="btn" type="submit">Create new cast or crew member</button>
   </form>
    <button type="submit" form="movieForm" class="btn btn-primary"><h3>Submit</h3></button>
</div>

<footer>
  <br>
  <b><p style="font-size:larger">Bases de Dados e Análise de Informação</p></b>

  <img src="https://www.uc.pt/static/images/logo-uc-v2019-web.png"/>

  <p>Gonçalo Costa 2018279575</p>
  <p>Filipa Moreira 2018297005</p>
  
</footer>
</div>
</body>
</html>